############################################
## 	Kconfig for alsprox sensors devices
## 	Author:LongJiang
## 	Date:2013-09-13
############################################

config YL_TMD277X_ALSPROX
	tristate "TAOS Ambient & Promixity Sensor Driver"
	depends on I2C
	default n
	help
	TAOS Ambient & Promixity Sensor Driver implemented by YL.
