############################################
## 	Kconfig for alsprox sensors devices	
## 	Author:LongJiang 									
## 	Date:2013-09-30 									
############################################

config YL_LTR559_2INPUT_ALSPROX
	tristate "LTR559 Ambient & Promixity Sensor Driver"
	depends on I2C
	default n
	help
	 LTR559 Ambient & Promixity Sensor Driver implemented by YL.

config YL_LTR559_HEARTBEAT
	tristate "LTR559 HeartBeat Sensor Driver"
	depends on I2C
	default n
	help
	 LTR559 HeartBeat Sensor Driver implemented by YL.

