#
# Magnetometer sensors
#

config SENSORS_YAS_MAGNETOMETER
	tristate "Yamaha 3-Axis Magnetometer"
	depends on I2C && SYSFS && IIO && IIO_KFIFO_BUF && IIO_TRIGGER
	help
	  Say Y here to add support for the Yamaha 3-Axis Magnetometer.


config SENSORS_BMA_ACCELEROMETER
	tristate "Yamaha 3-Axis Accelerometer"
	depends on I2C && SYSFS && IIO && IIO_KFIFO_BUF && IIO_TRIGGER
	help
	  Say Y here to add support for the yamaha 3-Axis Accelerometer.

	  To compile this driver as a module, choose M here: the module
	  will be called bma250e.

config SENSORS_LIS3DH_ACCELEROMETER
	tristate "Yamaha 3-Axis Accelerometer"
	depends on I2C && SYSFS && IIO && IIO_KFIFO_BUF && IIO_TRIGGER 
	help
	  Say Y here to add support for the yamaha 3-Axis Accelerometer.

	  To compile this driver as a module, choose M here: the module
	  will be called lis3dh.

config SENSORS_KXTJ2_ACCELEROMETER
	tristate "Yamaha 3-Axis Accelerometer"
	depends on I2C && SYSFS && IIO && IIO_KFIFO_BUF && IIO_TRIGGER
	help
	  Say Y here to add support for the yamaha 3-Axis Accelerometer.

	  To compile this driver as a module, choose M here: the module
	  will be called kionix.
config YAS_MAG_DRIVER
	int "Yamaha Magnetometer Driver Enum"
	depends on SENSORS_YAS_MAGNETOMETER
	help
	  Yamaha Magnetometer Driver Enum, the values mapping to yas_cfg.h

config YAS_ACC_DRIVER
	int "Yamaha Accelerometer Driver Enum"
	depends on SENSORS_YAS_MAGNETOMETER
	help
	  Yamaha Accelerometer Driver Enum, the values mapping to yas_cfg.h
