############################################
## 	Kconfig for alsprox sensors devices
## 	Author:LongJiang
## 	Date:2013-09-25
############################################

config YL_LTR558_ALSPROX
	tristate "LTR558 Ambient & Promixity Sensor Driver"
	depends on I2C
	default n
	help
	 LTR558 Ambient & Promixity Sensor Driver implemented by YL.
